.start {
  background-color: #fefae0;
  height: 100vh;
  width: 100vw;
  color: blanchedalmond;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.text {
  font-size: 3vw;
  color: rgb(17, 16, 15);
  font-family: Roboto;
}

.form {
  height: 60vh;
  width: 60%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* background-color: blanchedalmond;
  background-position: center; */
  background-size: cover;
  gap: 20px;
  color: black;
  box-shadow: 8px 8px 8px 2px;
}

.input1 {
  width: 20rem;
  height: 3em;
  border-radius: 12px;
  outline: none;
  border: none;
  font-size: 18px;
}
.input2 {
  width: 20rem;
  height: 5em;
  border-radius: 12px;
  outline: none;
  border: none;
  font-size: 18px;
}
