.container {
  background-color: pink;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 8px 8px grey;
  border-radius: 10px;
  position: relative;
}
.main_container {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  grid-gap: 12px;
  justify-self: center;
  align-self: center;
  margin: 65px;
}

@media (max-width: 690px) {
  .main_container {
    grid-template: repeat(4, 1fr) / repeat(1, 1fr);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.close:hover {
  background-color: rgb(231, 63, 63);
  border-radius: 10px;
  color: white;
}
.edit {
  background-color: rgb(128, 128, 241);
  border: none;
  width: 60px;
  height: 30px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
.edit:hover {
  color: rgb(128, 128, 241);
  background-color: white;
  border: 1px solid black;
}
