.avinash {
  height: 1vh;
  width: 100%;
  border: solid 2px #808000;

  text-align: justify;
  padding: 0px 20px;
  color: black;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(
    to right,
    olive,
    navy,
    yellow,
    pink,
    purple,
    white,
    black
  );
}

.appbar {
  width: 100%;
  height: 60px;
  background-color: transparent;
  position: fixed;
  top: 0px;
}
.mainbody {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: chartreuse;
}
.portifolio {
  display: grid;
  margin: 30px auto;
  height: 100%;
  padding: 20px;
  grid-template-rows: repeat(6, 100px);
  grid-template-columns: repeat(6, 100px);
  grid-gap: 20px;
  /* justify-items: stretch; */
}

.one {
  background-color: coral;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: span 2;
  grid-column: span 2;
  background-image: url(//unsplash.it/300/301);
  background-size: cover;
  background-position: center;
  border: solid 1px black;
}
.two {
  background-color: coral;
  color: black;
  display: flex;
  background-image: url(//unsplash.it/800/600);
  background-size: cover;
  background-position: center;
  border: solid 1px black;
  grid-row: span 3;
  grid-column: span 4;
  justify-content: center;
  align-items: center;
}
.three {
  background-color: coral;
  color: black;
  display: flex;
  align-items: center;
  border: solid 1px black;
  grid-row: span 2;
  grid-column: span 2;
  justify-content: center;
  background-image: url(//unsplash.it/300/300);
  background-size: cover;
  background-position: center;
}
.four {
  background-color: coral;
  color: black;
  border: solid 1px black;
  align-items: center;
  display: flex;
  justify-content: center;
  grid-row: span 1;
  grid-column: span 1;
  background-image: url(//unsplash.it/201/201);
  background-size: cover;
  background-position: center;
}
.five {
  background-color: coral;
  align-items: center;
  border: solid 1px black;
  color: black;
  display: flex;
  justify-content: center;
  grid-row: span 3;
  grid-column: span 3;
  background-image: url(//unsplash.it/450/450);
  background-size: cover;
  background-position: center;
}
.six {
  background-color: coral;
  align-items: center;
  border: solid 1px black;
  color: black;
  display: flex;
  justify-content: center;
  grid-row: span 2;
  grid-column: span 3;
  background-image: url(//unsplash.it/400/400);
  background-size: cover;
  background-position: center;
}
